*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 75px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: lightblue;
    font-family: Lucida Handwriting, cursive;
}

img {
    border: 5px solid rgb(194, 191, 201);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.container{
    width: 600px;
    border: 2px solid #333;
    margin: auto;
    padding: 15px 35px;
    background-color: whitesmoke;
}

.container h2{
    text-align: center;
    margin-bottom: 25px
}

textarea{
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}

input[type="submit"] {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]{
    color: black;
    background-color: whitesmoke;
}

button{
    padding: 3px 8px;
    border-radius: 5px;
    color: #fff;
    background-color: black;
}

.btn{
    display: block;
}

